body {
    color: white;
    background: linear-gradient(135deg, rgb(61, 59, 59), grey);
}

/* classe adicionada para estilizar o título do site */
.title {
    color: rgb(192, 10, 10);
    font-size: 60px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    margin-top: 80px;
}

h3,
h5 {
    text-align: center;
    margin: 0;
    font-weight: 200;
}

#list {
    display: flex;
    justify-content: center;
}

ol {
    list-style: none;
    padding: 0%;
    color: rgb(255, 72, 0);
}

li,
a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    min-width: 300px;
    max-width: 60%;
    height: 400px;
    width: 800px;
}

p {
    font-size: 50px;
    margin-bottom: 15px;
}

div {
    margin-top: 100px;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

input {
    max-width: 200px;
    padding: 10px;
    border-radius: 10px;
    border-color: transparent;
    font-size: 20px;
}

input:focus {
    outline: 0;
    border-color: rgb(255, 72, 0);
    border-width: 1px;
}

label{
    font-size: 30px;
    margin-bottom: 6px;
    margin-top: 20px;
}

button{
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(255, 72, 0);
    border-radius: 10px;
    border-color: transparent;
    color: white;
}

footer{
    text-align: center;
}